{% extends 'base.html' %}

{% block content %}
<div class="row" style="padding: 1rem">
  <div class="col-md">
    <h1 class="text-muted"> <strong> Help </strong> </h1>
    {# <h2 style="margin-top: 1rem" class="text-muted"><strong>How to Play</strong></h2> #}
    <p style="margin-bottom:0.2cm;">You will see a grade school math question. Then, you will be presented with a model-generated reasoning chain, one step at a time.  <br>
    Your task is to decide <strong>at which step</strong> (if at all) the reasoning becomes incorrect. <br>
    If you find such a incorrect step, you will then be asked to provide three things:</p>
    <ul>
      <li> <strong> Critique</strong>: briefly explain what's wrong, and suggest a fix in Natural Language. Please AVOID directly editing the step at this point.  </li>
      <li> <strong> Edit</strong>: rewrite the problematic step to fix the issue. </li>
      <li> <strong> Error categorization</strong>: select the error category(ies) that best describe the error(s) in the step. </li>
    </ul>
    You can then submit your response. No need to look at the remaining steps!
    <br>
    If you have looked at all steps and haven't found an error, you can select <code>"The entire chain is correct"</code> at the end.<br>
    Or, if you think there is an issue that can't be localized to any step, you can select <code>"There's a global issue"</code> at the end.

    <h3 style="margin-top: 2rem" class="text-muted"><strong>Common Error Categories</strong></h3>
    <table class="table">
      <tr>
      <th>Error category</th>
      <th>Description</th>
      </tr>
      <tr>
        <td>Missing Step</td>
        <td>Consecutive sentences rapidly switch between topics so that there is little or no logical progression between ideas.</td>
      </tr>
    </table>

    <h3 style="margin-top: 2rem" class="text-muted"><strong>Examples</strong></h3>
    <p> To ensure you've understood the task, let's try a few examples! <br>
    After passing them, you'll be able to do the actual questions that count towards your extra credit. </p>
      <a href="/examples" class="btn btn-primary">Start with Examples</a>


    <h3 style="margin-top: 2rem" class="text-muted"><strong>Questions?</strong></h3>
    <p class="text-muted">
      If you have any questions, please reply under the Extra Assignment post on the Ed Discussion forum of your class.
    <div class="col-sm text-center my-auto">
    </div>
  </div>
</div>
{% endblock %}
